@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Tinos", serif;

  --color-primary: #6366f1;
  --color-primary-hover: #eef4ff;

  /* Secondary colors */
  --color-light-green: #66c78a;
  --color-light-green-hover: #f6fef9;

  --color-dark-green: #0d9488;
  --color-dark-green-hover: #edfdf6;

  --color-purple: #9333ea;
  --color-purple-hover: #fbf4ff;

  --color-orange: #d97706;
  --color-orange-hover: #fff7ec;

  --color-red: #e53d62;
  --color-red-hover: #fef1f4;

  /* Gray colors */
  --color-gray-first: #9fa6b1;
  --color-gray-second: #6b7280;

  --color-bg: #f3f4f6;
  --color-text-black: #1f2937;
  /* text-gray-800 */
  --color-text-gray: #7e8189;
  --color-text-light-gray: #e2e4e8;
  background-color: #f9fafb;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Tinos", serif;
  background-color: #f9fafb;
}

.sidebar-bg {
  background-color: #fff;
}

.text-black {
  color: var(--color-text-black);
}

.text-gray {
  color: var(--color-text-gray);
}

.bg-white {
  background-color: #ffffff;
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

input:-webkit-autofill {
  background-color: transparent !important;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
  background-color: transparent !important;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 5px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 10px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
}
