@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Tinos', serif;
    /* Primary colors */
    --color-primary: #6366F1;
    --color-primary-hover: #EEF4FF; 

    /* Secondary colors */
    --color-light-green: #66C78A;
    --color-light-green-hover: #F6FEF9;
    
    --color-dark-green: #0D9488;
    --color-dark-green-hover: #EDFDF6;

    --color-purple: #9333EA;
    --color-purple-hover: #FBF4FF;

    --color-orange: #D97706;
    --color-orange-hover: #FFF7EC;

    --color-red: #E53D62;
    --color-red-hover: #FEF1F4;

    /* Gray colors */
    --color-gray-first: #9fa6b1;
    --color-gray-second: #6B7280;

    --color-bg: #f3f4f6;
    --color-text-black: #1F2937;
    --color-text-gray: #7e8189;
    --color-text-light-gray: #E2E4E8;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    min-width: 320px;   
    min-height: 100vh; 
    font-family: 'Tinos', serif;
    background-color: var(--color-bg);
}

.sidebar-bg{
    background-color: #fff;
}

.text-black{
    color: var(--color-text-black)
}

.text-gray{
    color: var(--color-text-gray);
}

.bg-white{
    background-color: #ffffff;
    transition: all 200ms ease-in;
}

.bg-white:hover{
    background-color: #fdfdfd9f;
}

.bg-primary{
    background-color: var(--color-primary);
}

.bg-primary-hover{
    background-color: var(--color-primary-hover);
}

.text-white {
    color: #ffffff;   
}

.text-red{
    color: var(--color-red);
}

.text-red-hover{
    color: var(--color-red-hover);
}

.text-primary{
    color: var(--color-primary);
}

.text-primary-hover{
    color: var(--color-primary-hover);
}

.text-orange{
    color: var(--color-orange);
}

.text-orange-hover{
    color: var(--color-orange-hover);
}

.bg-orange-hover{
    background-color: var(--color-orange-hover);
}

.text-light-green{
    color: var(--color-light-green);
}

.text-light-green-hover{
    color: var(--color-light-green-hover);
}

.bg-light-green-hover{
    background-color: var(--color-light-green-hover);
}

.text-purple{
    color: var(--color-purple);
}

.text-purple-hover{
    color: var(--color-purple-hover);
}