@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(244, 244, 245, 0.5) inset !important;
  -webkit-text-fill-color: #111827 !important;
  transition: background-color 9999s ease-in-out 0s;
}
